<!DOCTYPE html>

<html>
    <head>
        <title>Integrales por regla del trapecio</title>
    </head>
    <body>
       <center> <H1>Calculadora de integrales de x^2</H1>
        Calcula la integral desde a hasta b de cualquier múltiplo de la función x^2 utilizando la regla del trapecio.
        <form method="POST">
            Límite inferior: <input type="text" name="limite_inferior">
            Límite superior: <input type="text" name="limite_superior">
            Coeficientes: <input type="text" name="coeficiente">
            Número de subintervalos: <input type="text" name="n_subintervalos">
            <button type="submit">Calcular</button>
        </form>
        <p>{{message}}</p>
    </center></body>
</html>